    {% extends "layout.html" %}
    {% block body %}
    <section>
        <h1>L'autonomie de la voiture est de {{autonomie_voiture}} Km.</h1>
        <h1>La distance du trajet est de {{distance_trajet}} Km.</h1>
        <h1>La durée estimée du trajet est de {{duree_trajet}} heures.</h1>
    </section>
    <section>
        <form method="post" action="./">
            <select class="form-select" aria-label="Default select example" name="voiture_choisie">
                <option selected>Choisissez votre voiture</option>
                {% for i in listeVoitures %}
                    <option value='{{i}}'>{{i[0]}} avec une autonomie de {{i[1]}} Km</option>
                {% endfor %}
            </select>
            <div class="mb-3">
                <label class="form-label">Nom de ville de départ avec le nom du pays</label>
                <input type="text" name="depart" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Nom de ville d'arrivée avec le nom du pays</label>
                <input type="text" name="arrivee" class="form-control">
            </div>

            <button type="submit" name="map" class="btn btn-secondary">Calculer</button>

            

           
        </form>
        
        </form>
    </section>
    <section>
    </section>
    <section>

    </section>
    {% endblock %}
